body {
    background-color: #ffffff;
    font-family: 'Roboto',sans-serif;
    color: #434455;
    }

h1,h2,h3,h4,h5,h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    /* max-width: 1158px; */
    width: 318px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

/*=====HEADER=====*/

.header {
padding-top: 0;
padding-bottom:0;
border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    
}

.header-navigation {
    display: flex;
    flex-grow: 1;
}

.header-logo-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    margin-right: 76px;
    padding-bottom: 24px;
    padding-top: 24px;  
}

.header-logo-link span {
    color: #2e2f42;
}

.header-menu-list {
    /* display: flex;
    gap: 40px; */
    display: none;
}

.header-menu-item {
    position: relative;
    padding-top: 24px;
}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-list {
    /* display: flex;
    gap: 40px; */
    display: none;
}

.header-contact-item {}

.header-contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover.header-menu-link::after,.header-menu-link:focus.header-menu-link::after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
}



.header-menu-link:hover,.header-menu-link:focus,
.header-contact-link:hover,
.header-contact-link:focus {
    color: #404bbf;
}

/*=====HERO=====*/

.hero {
    margin: 0 auto;
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* padding: 188px 0;
    max-width: 1440px; */
    padding: 72px 0;
    
}

.hero-title {
    /* font-size: 56px;
    line-height: 1.07; */
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    /* max-width: 496px; */
    width: 216px;
    margin: 0 auto 72px;
    /* margin-bottom: 48px; */
    
}

.hero-btn {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
}

.hero-btn:hover ,
.hero-btn:focus {
    background-color: #404bbf;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mob-2x.jpg);
    }
}

/*=====FEATURES=====*/

.features {
    /* padding: 120px 0; */
    padding: 96px 0;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    gap: 72px;
    
}

.features-item {
    /* width: calc((100% - 3 * 24px) / 4); */
    width: 100%;
}

.features-icon-wrap {
    /* display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px; */
    display: none;
}

.features-item-icon {}

.features-subtitle {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}

.features-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*=====TEAM=====*/

.team {
    background-color: #f4f4fd;
    /* padding: 120px 0; */
    padding: 96px 0;
}

.team-title {
    margin: 0 auto 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    gap: 72px;
    margin: 0 auto;
    padding: 0 12px;
}

.team-list-item {
    background-color: #ffffff;
    /* width: calc((100% - 3 * 24px) / 4); */
    width: 100%;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-text-wrap {
    padding: 32px 0;
}

.team-item-image {}

.team-subtitle {
    text-align: center;
    margin-bottom: 8px;
}

.team-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

.team-icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0 16px;
}

.team-link-item {
    width: 40px;
    height: 40px;
}

.team-link {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
    background-color: #404bbf;
}

.team-link-icon {
    fill: #f4f4fd;
}

/*=====PORTFOLIO=====*/

.portfolio {
    /* padding: 120px 0; */
    padding: 96px 0;
}

.portfolio-title {
    margin-bottom: 72px;
}

.portfolio-item-image {
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    /* column-gap: 24px; */
    row-gap: 48px;
}

.portfolio-list-item {
    /* width: calc((100% - 2 * 24px) / 3); */
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .portfolio-cover-text {
    transform: translateY(0);
}

.portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-cover-text {
    position: absolute;
    top: 0;
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    transform: translateY(100%);
    height: 100%;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text-wrap{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-subtitle {
    margin-bottom: 8px;
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-item-image {

}

/*=====FOOTER=====*/

.footer {
    background: #2e2f42;
    padding: 100px 0;
}

.footer-wrap {
    display: flex;
    align-items: baseline;
}

.footer-logo-wrap {
    margin-right: 120px;
}

.footer-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo span {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-social-wrap {
    margin-right: 80px;
}

.footer-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-icon-list {
    display: flex;
    gap: 16px;
}

.footer-link-item {
    width: 40px;
    height: 40px;
}

.footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
}

.footer-link-icon {
    fill: #f4f4fd;
}

.footer-form-wrap {}

.footer-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-form-label {}

.footer-form-input {
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding-left: 16px;
}

.footer-form-input::placeholder {
    color: #ffffff;
}

.footer-form-btn {
    display: flex;
    min-width: 165px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    border-radius: 4px;
    padding: 8px 24px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover {
    background-color: #404bbf ;
}

.footer-btn-icon {
    padding-left: 16px;
    fill: #ffffff;
    width: 100%;
    height: 100%;
    }

/*=====MODAL=====*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    position: absolute;
    display: flex;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover , .modal-close:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .modal-close-icon ,
.modal-close:focus .modal-close-icon {
    fill: #ffffff;
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form {}

.modal-field-wrap {
    margin-bottom: 8px;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-field {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon {
    fill: #4d5ae5;
}

.modal-textarea-wrap {
    margin-bottom: 16px;
}

.modal-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    background-color: transparent;
    outline: transparent;
    padding: 8px 16px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-textarea:focus {
    border-color: #4d5ae5;
}

.modal-check-wrap {
    margin-bottom: 24px;
}

.modal-check-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
}

.modal-check:checked + .modal-check-text .modal-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.modal-check-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-send {
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send:hover {
    background: #404bbf;
}

@media screen and (min-width: 768px) {
    .container {
        width: 766px;
    }
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab.jpg);
        padding: 112px 0;
    }
    @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab-2x.jpg);
            }
        }
    .hero-title {
        width: 496px;
        margin-bottom: 36px;
        font-size: 56px;
        line-height: 1.07;
    }
    .features-list {
        gap: 72px 24px;
    }
    .features-item {
        width: calc((100% - 24px) / 2);
    }
    .team-list {
        padding: 0 92px;
        gap: 64px 24px;
    }
    .team-list-item {
        width: calc((100% - 24px) / 2);
    }
    .portfolio-list {
        gap: 72px 24px;
    }
    .portfolio-list-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        padding: 188px 0;
        max-width: 1440px;
    }
    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-2x.jpg);
        }
    }
    .hero-title {
        margin-bottom: 48px;
    }
    .features {
        padding: 120px 0;
    }
    .features-item {
        width: calc((100% - 3 * 24px) / 4);
    }
    .features-icon-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        margin-bottom: 8px;
    }
    .features-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: left;
    }
    .team {
        padding: 120px 0;
    }
    .team-list {
        padding: 0;
    }
    .team-list-item {
        width: calc((100% - 3 * 24px) / 4);
    }
    .portfolio {
        padding: 120px 0;
    }
    .portfolio-list-item {
        width: calc((100% - 2 * 24px) / 3);
    }
}